@import 'vars';

.Main {
    display: flex;

    &__article,
    &__aside {
        padding: $bp;
    }

    @media (max-width: 850px) {
        flex-direction: column;

        &__article,
        &__aside {
            padding: 0 $bp;
        }

        &__article .Section:last-child {
            border-bottom: 1px solid rgba(255,255,255,.3);
        }
    }

    &__article {
        flex-basis: 70%;
    }

    &__aside {
        flex-basis: 30%;
    }
}