* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 1em;
    width: max-content;
    background-color: dimgray;
}

.content-wrapper {
    width: 50vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50vh 10vh;
    grid-row-gap: 5vh;
}

@media (max-width: 600px) {
    .content-wrapper {
        width: 80vw;
        grid-template-columns: 1fr;
        grid-template-rows: 20fr 2fr 5fr;
        grid-row-gap: 2vh;
    }
}
